@media (min-width: 650px) {
    #menu { display: none; }
    .navigation { display: flex; justify-content: space-around; background: #333; }
    
    #temple-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Multi-column */
    }
}
